<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zappy_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Zappy"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <!-- LoginActivity → actividad de inicio -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegistroActivity → abrir desde Login -->
        <activity android:name=".RegistroActivity" android:exported="true" />

        <!-- HomeActivity → abrir desde Login -->
        <activity android:name=".HomeActivity" android:exported="true" />

        <!-- Otras actividades internas -->
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".UploadActivity" android:exported="false" />
        <activity android:name=".PdfViewerActivity" android:exported="false" />

    </application>

</manifest>
